<html>
<head>
    <title>welcome to {{name}}</title>    
</head>
<body>
    <a href='/'>Home </a>
    <P><a href='/about'>About </a></P>
    <p>Home page</p>
    <p> I like {{likes}}</p>    
    {{>footer}}
</body>

</html>